	<br />
	<h1 class="dialog-title FiraFont tl"><img style="width:150px;height:auto;" src="./public/images/bg/phola_logo.png" alt="Phola Coal HSE" title="Phola Coal HSE" /></h1>
	<br />
	<hr />
	<div class="about-text">
		<div data-ng-cloak
			class="alert alert-block alert-info"
			data-ng-show="updatesReady">
				<p class="statusMsg tc LightFontFace" data-ng-model="formMsg">HSE will close automatically once the updates are installed. Please be patient, while the updates install.</p>
		</div>
		<div class="about-info tc">
			<small class="tr mask-money uppercase fl">version 2.0.1</small>
			<!--
			<div class="fr" data-ng-switch on="updatesReady"> 
				<button type="button" class="btn btn-success fr mask-money uppercase" data-ng-switch-when="true" data-ng-click="installUpdates()">
					Install updates
				</button>

				<button type="button" class="btn fr mask-money uppercase" data-ng-switch-default data-ng-click="checkForUpdates()">
					Check for updates
				</button>
			</div>
			-->
			<br />
			<!-- <p class="app-credits">&copy; 2013 - Present 5<span>i</span>ve <span>Design</span> Studio (Pty) Ltd. on behalf of Phola Coal HSE.</p> checkForUpdates -->
		</div>
	</div>
